<div class="container">
  <h2>Experience</h2>
  <div class="ui unstackable items">
    <div class="item" *ngFor="let item of data">
      <div class="ui tiny image" *ngIf="item.img">
        <img [src]="item.img" />
      </div>
      <div class="content" [ngClass]="{'left-padding' : !item.img}">
        <h3>{{ item.company }} - {{ item.profile }}</h3>
        <div class="meta">
          <div *ngIf="item.location" class="location">{{ item.location }}</div>
          <div>{{ item.duration }}</div>
        </div>
        <div class="description">
          <ul>
            <li *ngFor="let desc of item.description" [innerHTML]="desc"></li>
          </ul>
          <p>Worked on:</p>
          <div>
            <span class="ui blue label" *ngFor="let technology of item.technologies">{{ technology }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
