<div class="container">
  <div class="center"><button (click)="flip()">Flip back (Ctrl + M)</button></div>

  <div class="center about-me">
    <h2>Hello. Thank you for checking on my site.</h2>
    <p>
      I am a <u>front-end developer</u> at <u>EY-GDS, Gurugram, India</u>. I work on Angular and Sharepoint here. I joined EY in November
      2018. I have learnt a lot since then and I am still learning.
    </p>
    <p>
      I have completed my B.Tech. in Electronics and Communication Engineering (ECE) from Bharati Vidyapeeth's College of Engineering, New
      Delhi in 2018.
    </p>
    <p>
      I have mentored 50+ students and professionals. I have worked as a mentor in
      <a href="https://www.gssoc.tech/" target="_blank">GSSoC'19 (GirlScript Summer of Code)</a>. I have taught Java, Python, C and Data
      Structures online through various mediums like WhatsApp, TeamViewer, Skype etc. Other than coding, I also love to paint and sketch.
      Please scroll down to find different apps/sites where we can connect.
    </p>

    <p>
      To see the previous version of my portfolio, please click on this link:
      <a href="https://sakshishreya.github.io/portfolio-2018/">sakshishreya.github.io/portfolio-2018</a>.
    </p>
  </div>

  <h2 class="center">Feel free to navigate:</h2>
  <div class="sections">
    <a routerLink="/experience"><div>Experience</div></a>
    <a routerLink="/project"><div>Projects</div></a>
    <a routerLink="/publication"><div>Publications</div></a>
    <a routerLink="/certification"><div>Certifications</div></a>
  </div>

  <div>
    <h2 class="center">Let's talk:</h2>
    <div class="wrapper">
      <ul class="icons">
        <li>
          <a href="mailto:shreyasakshi96@gmail.com" target="_blank"><fa name="envelope"></fa></a>
        </li>
        <li>
          <a href="https://twitter.com/shreyasakshi96" target="_blank"><fa name="twitter"></fa></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sakshishreya/" target="_blank"><fa name="linkedin"></fa></a>
        </li>
        <li>
          <a href="https://join.skype.com/invite/CfgOOPMXxRjo" target="_blank"><fa name="skype"></fa></a>
        </li>
        <li>
          <a href="https://t.me/SakshiShreya" target="_blank"><fa name="telegram"></fa></a>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h2 class="center">Other links:</h2>
    <div class="wrapper">
      <ul class="icons">
        <li>
          <a href="https://www.youtube.com/sakshishreya" target="_blank"><fa name="youtube"></fa></a>
        </li>
        <li>
          <a href="https://github.com/SakshiShreya" target="_blank"><fa name="github"></fa></a>
        </li>
        <li>
          <a href="https://codepen.io/shreyasakshi96/" target="_blank"><fa name="codepen"></fa></a>
        </li>
        <li>
          <a href="https://www.freecodecamp.org/shreyasakshi" target="_blank"><fa name="free-code-camp"></fa></a>
        </li>
      </ul>
    </div>
  </div>
</div>
