<div class="container">
  <div style="text-align: center">Under Construction</div>
  <div style="text-align: center">
    Till then, visit this site: <a href="https://sakshishreya.github.io/portfolio-2018/">sakshishreya.github.io/portfolio-2018</a>
  </div>
  <div style="text-align: center"><button (click)="flip()">Flip (Ctrl + M)</button></div>

  <div class="sections">
    <div><a routerLink="/experience">Experience</a></div>
    <div><a routerLink="">Projects</a></div>
    <div><a routerLink="/publication">Publications</a></div>
    <div><a routerLink="/certification">Certifications</a></div>
  </div>
  <div>
    <h2>Important links:</h2>
    <div class="wrapper">
      <ul class="icons">
        <li>
          <a href="https://www.youtube.com/sakshishreya" target="_blank"><fa name="youtube"></fa></a>
        </li>
        <li>
          <a href="https://twitter.com/SakshiShreya3" target="_blank"><fa name="twitter"></fa></a>
        </li>
        <li>
          <a href="https://github.com/SakshiShreya" target="_blank"><fa name="github"></fa></a>
        </li>
        <li>
          <a href="https://codepen.io/sakshi-shreya/" target="_blank"><fa name="codepen"></fa></a>
        </li>
      </ul>
    </div>
  </div>
</div>
