<div class="fixed">
  <nav class="menu">
    <header>Menu <span>x</span></header>
    <ol>
      <li class="menu-item"><a routerLink="/">Home</a></li>
      <li class="menu-item"><a routerLink="/experience">Experience</a></li>
      <li class="menu-item"><a routerLink="/">Projects</a></li>
      <li class="menu-item"><a routerLink="/publication">Publications</a></li>
      <li class="menu-item"><a routerLink="/certification">Certifications</a></li>
    </ol>
    <div class="toggle"><button aria-label="Toggle menu" (click)="toggle()">Toggle</button></div>
  </nav>
</div>
<router-outlet></router-outlet>
